docling
azure-ai-documentintelligence
boto3
fastapi
firecrawl
pandas
pathlib
pillow
pydantic
python-dotenv
requests
uvicorn
validators
PyMuPDF
pypdf
beautifulsoup4
pdfplumber
python-multipart
haystack-ai
markdown-it-py 
mdit_plain
boto3
pandas
litellm
redis




